# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Model files (too large for GitHub)
*.pt
*.pth
*.onnx
*.weights

# Streamlit
violations.csv
.streamlit/

# Node
ai-detection-frontend/node_modules/
ai-detection-frontend/dist/
temp-node/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Rar files
*.rar

# Project model weights
ai-detection-backend/models/*.pt
ai-detection-backend/models/*.pth
ai-detection-backend/models/*.onnx
ai-detection-backend/models/*.weights
