accelerate==1.13.0
aioice==0.10.2
aiortc==1.14.0
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asttokens
attrs==26.1.0
av==16.1.0
backcall==0.2.0
beautifulsoup4==4.14.3
bleach==6.3.0
blinker==1.9.0
cachetools==7.0.5
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama
comm
contourpy==1.3.2
cryptography==48.0.0
cycler==0.12.1
debugpy
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
dnspython==2.8.0
docopt==0.6.2
easyocr==1.7.2
exceptiongroup
executing
faiss-cpu==1.13.2
fastjsonschema==2.21.2
filelock==3.29.0
fonttools==4.62.1
fsspec==2026.3.0
gitdb==4.0.12
GitPython==3.1.46
google-crc32c==1.8.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.11.0
idna==3.11
ifaddr==0.2.0
ImageIO==2.37.3
ipykernel
ipython==8.12.3
jedi
Jinja2==3.1.6
jiter==0.14.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core
jupyterlab_pygments==0.3.0
kiwisolver==1.5.0
lazy-loader==0.5
lxml==6.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
mpmath==1.3.0
narwhals==2.19.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nest_asyncio
networkx==3.4.2
ninja==1.13.0
numpy==2.2.6
ollama==0.6.1
openai==2.32.0
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
packaging==26.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.6
pickleshare
pillow==12.2.0
pipreqs==0.5.0
platformdirs
polars==1.41.2
polars-runtime-32==1.41.2
prompt_toolkit
protobuf==7.34.1
psutil
pure_eval
pyarrow==23.0.1
pyclipper==1.4.0
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
pydeck==0.9.2
pyee==13.0.1
Pygments
pylibsrtp==1.0.0
pyOpenSSL==26.2.0
pyparsing==3.3.2
PyPDF2==3.0.1
python-bidi==0.6.10
python-dateutil
python-docx==1.2.0
pytz==2026.1.post1
pyzmq
PyYAML==6.0.3
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
rich==15.0.0
rpds-py==0.30.0
safetensors==0.7.0
scikit-image==0.25.2
scipy==1.15.3
sentencepiece==0.2.1
shapely==2.1.2
shellingham==1.5.4
six
smmap==5.0.3
sniffio==1.3.1
soupsieve==2.8.3
stack_data
streamlit==1.56.0
streamlit-webrtc==0.72.1
sympy==1.14.0
tenacity==9.1.4
tifffile==2025.5.10
tinycss2==1.4.0
tokenizers==0.22.2
toml==0.10.2
torch==2.12.0
torchvision==0.27.0
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
transformers==5.5.4
typer==0.24.1
typing-inspection==0.4.2
typing_extensions
tzdata==2026.1
ultralytics==8.4.61
ultralytics-thop==2.0.20
urllib3==2.6.3
watchdog==6.0.0
wcwidth==0.6.0
webencodings==0.5.1
wordcloud==1.9.6
yarg==0.1.9
